RewriteEngine On

SetEnvIf Request_URI ^/status/? ALWAYS_AUTHORIZED=true
SetEnvIf Request_URI ^/loc.fcgi/status/? ALWAYS_AUTHORIZED=true

RewriteBase /

RewriteRule ^(media|css|html|scripts)/(.*)$ loc_app/data/$1/$2 [L]

RewriteRule ^(.*)fcgi/ - [L]

RewriteCond %{REQUEST_URI} !data/
RewriteRule ^(.*)$ loc.fcgi/$1 [L]


# SetEnv CLEANUP no


