RewriteEngine On

RewriteBase /

RewriteRule ^(media|css|html|scripts)/(.*)$ loc_app/data/$1/$2 [L]

RewriteRule ^(.*)fcgi/ - [L]

RewriteCond %{REQUEST_URI} !data/
RewriteRule ^(.*)$ loc.fcgi/$1 [L]



