SetEnvIf Request_URI ^/status/? ALWAYS_AUTHORIZED=true
SetEnvIf Request_URI ^/loc.fcgi/status/? ALWAYS_AUTHORIZED=true
SetEnvIfNoCase Host myairsample.org ALWAYS_AUTHORIZED=true
SetEnvIfNoCase Host www.myairsample.org ALWAYS_AUTHORIZED=true

AuthType Basic
AuthName "Restricted Files"
AuthBasicProvider file
AuthUserFile /home/gbenison/gwenomatic/passwords.beta

Order Deny,Allow
Deny from all
Satisfy any

Allow from env=ALWAYS_AUTHORIZED
require valid-user
 
RewriteEngine On
RewriteBase /
RewriteRule ^(media|css|html|scripts)/(.*)$ loc_app/data/$1/$2 [L]
RewriteRule ^(.*)fcgi/ - [L]

RewriteCond %{REQUEST_URI} !data/
RewriteRule ^(.*)$ loc.fcgi/$1 [L]

# SetEnv CLEANUP no


