
/************ global defaults ***********/
.chemical_name {
    text-transform:   capitalize;
    font-weight:      bold;
}

/************ report header *************/

#header {
    width:       65%;
    margin:      auto;
    border-bottom:  1px solid;
}

h1 {
    text-align:   center;
    font-size:    100%;
}

h2 {
    text-align:   center;
    font-size:    200%;
}

h2.recipient1 {
    font-style:  italic;
}

/************ alerts *******************/
.failure_alert {
    border:       1px red solid;
    padding:      10px;
    width:        85%;
    margin-left:  auto;
    margin-right: auto;
    margin-top:   20px;
}

/************ brief report *************/

div#report_brief ul {
    list-style:  none;
}

#report_brief h3 {
    text-align:  center;
}

#report_brief .bigfont {
    font-size:   200%;
}

#report_brief ul div.no_exceedance {
    margin-top:  20px;
}

/************ medium-level report *************/

div#report_medium ul {
    list-style:  none;
}

#report_medium .reporting_criteria {
    font-size:    110%;
    font-weight:  bold;
}

#report_medium h3 {
    text-decoration:  underline;
}

#report_medium .reported_value {
    font-weight:   bold;
}

#report_medium table tr > td:first-child p {
    margin-top:    3px;
    font-size:     80%;
    margin-bottom: 3px;
}

#report_medium table tr > td:nth-child(2) {
    font-weight:   bold;
    font-size:     120%;
}

/************* full report **********************/

#report_full {
    margin-left:   0.4in;
}

#report_full h2 {
    text-align:    left;
    font-size:     140%;
    margin:        5px;
}

#report_full table tr:first-child {
    font-weight:   bold;
}

#report_full .chemical_name {
    font-weight:   bold;
}

#report_full .chemical_level {
    background:    #ff9966;
    font-weight:   bold;
}

#report_full .concern {
    background:    #ffcc99;
}

/************* Footer **********************/

#footer {
    border-top:   1px solid;
}

#disclaimer {
    font-weight: bold;
    background:  #FF9966;
    padding:     10px;
    border:      1px solid;
}