<?xml version="1.0" standalone="no"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/">
  <head>
    <title>Levels of Concern</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css"></link>
  </head>
  <body>
    <script src="scripts/jquery.js"></script>
    <script src="scripts/loc.js"></script>
    <div id="header">
      <div id="titles">
	<h1><a href="/">MyAirSample.org</a></h1>
	<h2>An online tool to compare air sample results to levels of concern</h2>
      </div>
      <div id="logos">
	<ul>
	  <li><a href="http://www.labucketbrigade.org/"><img src="/media/labb_logo" alt="LABB logo"></img></a></li>
	  <li><a href="https://github.com/drcs"><img src="/media/drcs_logo.png" alt="DRCS logo"></img></a></li>
	</ul>
      </div>
    </div>
    <div id="nav">
      <ul>
	<li><a tabindex="1000" href="/create_report">Create a report</a></li>
	<li><a tabindex="1000" href="/about/levels">About the levels of concern</a></li>
	<li><a tabindex="1000" href="/faqs">About bucket samples and monitoring</a></li>
	<li><a tabindex="1000" href="/about/tool">About this tool</a></li>
	<li><a tabindex="1000" href="/contact">Contact us</a></li>
	<li><a tabindex="1000" href="/about/implementation">Technical details</a></li>
      </ul>
    </div>
    <div id="main">
    </div>
  </body>
</html>


