<?xml version="1.0" standalone="no"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="header.html" />
  ${head()}
  <body>
    <script src="scripts/jquery.js"></script>
    <script src="scripts/loc.js"></script>
    ${header()}
    ${nav()}
    <div class="static">
      <p>
	For questions and comments about air data, Louisiana Bucket Brigade can
	contacted at <a href="http://www.labucketbrigade.org">www.labucketbrigade.org</a>,
	4226 Canal St, New Orleans, LA 70119, phone: 504-484-3433, fax: 504-324-0332,
	email: info@labucketbrigade.org.
      </p>
      <p>
	For comments, feedback, or errors in the web site, please contact the LA
	Bucket Brigade or email Digital Resources for Community and Science at
	drcsdirector@gmail.com
      </p>
    </div>
  </body>
</html>
