<html xmlns:py="http://genshi.edgewall.org/">
  <head py:def="head()">
    <title>Levels of Concern</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css"></link>
  </head>
  <body>
    <div py:def="header()" id="header">
      <script src="/scripts/jquery.js"></script>
      <script src="/scripts/loc.js"></script>
      <div id="contact">
	<ul>
	  <li><a href="">Get Updates</a></li>
	  <li><a href="">f</a></li>
	  <li><a href="">t</a></li>
	</ul>
      </div>
      <div id="titles">
	<h1>MyAirSample.org</h1>
	<h2>Clean up your data, clean up your air</h2>
      </div>
      <div id="top-nav">
	${nav()}
      </div>
      <div id="middle-nav">
        ${nav()}
      </div>
    </div>
    <div py:def="nav()" class="nav">
      <ul>
	<li><a tabindex="1000" href="/about/levels">About</a></li>
	<li><a tabindex="1000" href="/about/faq">Learn</a></li>
	<li><a tabindex="1000" href="/about/tool">Tools</a></li>
	<li><a tabindex="1000" href="">Community Groups</a></li>
	<li><a tabindex="1000" href="">Donate</a></li>
      </ul>
    </div>
    <div py:def="footer()" id="footer">
      <div id="logos">
	<ul>
	  <li><a href="http://www.labucketbrigade.org/"><img src="/media/labb_logo" alt="LABB logo"></img></a></li>
	  <li><a href="https://github.com/drcs"><img src="/media/drcs_logo.png" alt="DRCS logo"></img></a></li>
	  <li><a href="/media/RANlogo-text.png"><img src="/media/RANlogo-text.png" alt="RAN logo"></img></a></li>
	</ul>
      </div>
    </div>
  </body>
</html>
