<html xmlns:py="http://genshi.edgewall.org/">
  <head py:def="head()">
    <title>Levels of Concern</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css"></link>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"></link>
    <script src="scripts/google-analytics.js"></script>
  </head>
  <body>
    <div py:def="header()" id="header">
      <script src="/scripts/jquery.js"></script>
      <script src="https://platform.twitter.com/widgets.js"></script>
      <script src="/scripts/loc.js"></script>
      <div id="contact-wrapper">
	<div id="contact">
	  <ul>
	    <li><a href="/contact">Get Updates</a></li>
	    <li>|</li>
	    <li><a href="/"><i class="fa fa-facebook"></i></a></li>
	    <li>
	      <a href="https://twitter.com/intent/follow?screen_name=MyAirSample">
		<i class="fa fa-twitter"></i>
	      </a>
	    </li>
	  </ul>
	</div>
      </div>
      <div id="titles">
	<h1><a href="/"><img src="/media/Air-Sample-Logo-nomargin.svg" alt="myairsample.org"></img></a></h1>
	<h2>Clean up your data, clean up your air</h2>
      </div>
      <div id="top-nav">
	${nav()}
      </div>
      <div id="middle-nav">
        ${nav()}
      </div>
    </div>
    <div py:def="nav()" class="nav">
      <ul>
	<li><a tabindex="1000" href="/about">About</a></li>
	<li>
<!--	  <a tabindex="1000" href="/about/faq">Learn</a> -->
          Learn
	  <ul>
	    <li><a href="/learn/levels">Standards &amp; Screening Levels</a></li>
	    <li><a href="/learn/bucketsamples">Bucket Samples</a></li>
	  </ul>
	</li>
	<li>
<!--	  <a tabindex="1000" href="/about/tool">Tools</a>  -->
          Tools
          <ul>
	    <li><a href="/create-report">Create a Report</a></li>
          </ul>
	</li>
	<li>
	  Community Groups
	  <ul>
	    <li><a href="/">Customize tools for my data</a></li>
	    <li><a href="/">Share my data</a></li>
	    <li><a href="/">Find other groups&apos; data</a></li>
	  </ul>
	</li>
	<li><span class="big-blue-button"><a tabindex="1000" href="/">Donate</a></span></li>
      </ul>
    </div>
    <div py:def="footer()" id="footer" class="centering">
      <div>
	<div>
	  <p class="title-color">
	    MyAirSample.org provides free,<br/>
	    open-source tools for air quality data<br/>
	    and works to make the science<br/>
	    behind clean air more transparent<br/>
	    and responsive to communities.
	  </p>
	  <div id="logos">
	    <ul>
	      <li><a href="http://www.labucketbrigade.org/"><img src="/media/labb_logo" alt="LABB logo"></img></a></li>
	      <li><a href="https://github.com/drcs"><img src="/media/drcs_logo.png" alt="DRCS logo"></img></a></li>
	      <li><a href="/media/RANlogo-text.png"><img src="/media/RANlogo-text.png" alt="RAN logo"></img></a></li>
	    </ul>
	  </div>
	</div>
      </div>
    </div>
    <p py:def="note_level_update()">
      Note: All levels of concern in the tool were updated in May 2015:
      ATSDR Minimal Risk Levels, EPA Region 6 Screening Levels, Louisiana
      Ambient Air Quality Standards, North Carolina Ambient Air Standards,
      and Texas Effects Screening Levels -- any of these levels in the
      report are up-to-date as of May 2015.
    </p>
  </body>
</html>
