<html xmlns:py="http://genshi.edgewall.org/">
  <head py:def="head()">
    <title>Levels of Concern</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css"></link>
    <script src="scripts/google-analytics.js"></script>
  </head>
  <body>
    <div py:def="header()" id="header">
      <div id="titles">
	<h1>MyAirSample.org</h1>
	<h2>An online tool to compare air sample results to levels of concern</h2>
      </div>
      <div id="logos">
	<ul>
	  <li><a href="http://www.labucketbrigade.org/"><img src="/media/labb_logo" alt="LABB logo"></img></a></li>
	  <li><a href="https://github.com/drcs"><img src="/media/drcs_logo.png" alt="DRCS logo"></img></a></li>
	  <li><a href="/media/RANlogo-text.png"><img src="/media/RANlogo-text.png" alt="RAN logo"></img></a></li>
	</ul>
      </div>
    </div>
    <div py:def="nav()" id="nav">
      <ul>
	<li><a tabindex="1000" href="/">Create a report</a></li>
	<li><a tabindex="1000" href="/about/levels">About the levels of concern</a></li>
	<li><a tabindex="1000" href="/about/faq">About bucket samples and monitoring</a></li>
	<li><a tabindex="1000" href="/about/tool">About this tool</a></li>
	<li><a tabindex="1000" href="/contact">Contact us</a></li>
	<li><a tabindex="1000" href="/about/implementation">Technical details</a></li>
      </ul>
    </div>
    <p py:def="note_level_update()">
      Note: All levels of concern in the tool were updated in May 2015:
      ATSDR Minimal Risk Levels, EPA Region 6 Screening Levels, Louisiana
      Ambient Air Quality Standards, North Carolina Ambient Air Standards,
      and Texas Effects Screening Levels -- any of these levels in the
      report are up-to-date as of May 2015.
    </p>
  </body>
</html>
