<?xml version="1.0" standalone="no"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/">
  <head>
    <title>Levels of Concern</title>
    <link rel="stylesheet" type="text/css" href="css/style.css"></link>
  </head>
  <body>
    <script src="scripts/jquery.js"></script>
    <script src="scripts/loc.js"></script>
    <div id="header">
      <div id="titles">
	<h1>MyAirSample.org</h1>
	<h2>An online tool to compare air sampling results to pollutant levels of concern</h2>
      </div>
      <div id="logos">
	<ul>
	  <li><a href="#"><img src="media/labb_logo" alt="LABB logo"></img></a></li>
	  <li><a href="#"><img src="media/drcs_logo.png" alt="DRCS logo"></img></a></li>
	</ul>
      </div>
    </div>
    <div id="nav">
      <ul>
	<li><a href="/create_report">Create a report</a></li>
	<li><a href="/about/levels">About the levels of concern</a></li>
	<li><a href="/faqs">FAQs</a></li>
	<li><a href="/about/tool">About this tool</a></li>
	<li><a href="/contact">Contact us</a></li>
	<li><a href="/about/implementation">Technical details</a></li>
      </ul>
    </div>
    <div id="main">
      <form method="post" action="/report/" class="left-column">
	<div>
	  <div>
	    <fieldset id="chemical_input">
	      <legend>1.</legend>
	      <label id="chemical_name_input">
		Chemical name<a class="help" href="#help_chemical_entry">?</a>
		<input name="chem1"/>
		<input name="chem2"/>
		<input name="chem3"/>
	      </label>
	      <label id="chemical_level_input">
		Measured value<a class="help" href="#help_chemical_entry">?</a>
		<input name="report1"/>
		<input name="report2"/>
		<input name="report3"/>
	      </label>
	      <div id="add_chemicals">
		<a id="add_chemicals_button" href="#"><span id="add_chemicals_plus">+</span> add chemicals</a>
		<a class="help" href="#help_add_chemicals">?</a>
	      </div>
	    </fieldset>
	  </div>

	  <div>
 	    <!-- units -->
	    <fieldset id="units_choice">
	      <p>
		Units your measured values are in (input)
		<a class="help" href="#help_inunits">?</a>
		<label>
		  <span class="select_label">Select</span>
		  <select name="inunits">
		    <option py:for="key in unit_keys" value="${key}">${unit_represent(key)}</option>
		  </select>
		</label>
	      </p>
	      <p>Units you would like your report in (output)
		<a class="help" href="#help_outunits">?</a>
		<label>
		  <span class="select_label">Select</span>
		  <select name="outunits">
		    <option py:for="key in unit_keys" value="${key}">${unit_represent(key)}</option>
		  </select>
		</label>
	      </p>
	    </fieldset>
	  </div>
	</div>
	
	<div>
	  <div>
	    <fieldset id="user_input">
	      <legend>
		2. Report Title
		<a class="help" href="#help_report_title">?</a>
	      </legend>
	      <label for="username">
		Organization name 1
		<a class="help" href="#help_report_title">?</a>
		<input name="username"/>
	      </label>
	      <label for="username2">
		Organization name 2
		<a class="help" href="#help_report_title">?</a>
		<input name="username2"/>
	      </label>
	    </fieldset>

	    <!-- sample information -->
	    <fieldset id="sample_info">
	      <label>
		Sample identifying name
		<a class="help" href="#help_sample_name">?</a>
		<input name="samplename"></input>
	      </label>
	      <label>
		Date sample was taken
		<a class="help" href="#help_sample_date">?</a>
		<input name="sampledate"></input>
	      </label>
	      <label>
		Location sample was taken at
		<a class="help" href="#help_sample_location">?</a>
		<input name="samplelocation"></input>
	      </label>
	    </fieldset>
	  </div>

	  <div>
	    <!-- Standards choice -->
	    <fieldset id="standards_choice">
	      <legend>
		3. Compare your air data to these standards:
		<a class="help" href="#help_standards">?</a>
	      </legend>
	      <label for="single">
		<input type="radio" name="standards_source" value="single" checked="checked"/>
		<p>one set of standards</p>
		<p>
		  <span class="select_label">Select</span>
		  <select name="standards">
		    <option py:for="key in all_standards.keys()" value="${key}">
		      ${all_standards[key].oneline_description()}
		    </option>
		  </select>
		</p>
	      </label>
	      <label for="above">
		<input type="radio" name="standards_source" id="above"/>
		<p>all standards your sample is above</p>
	      </label>
	      <label for="all">
		<input type="radio" name="standards_source" id="all"/>
		<p>all available standards</p>
	      </label>
	    </fieldset>

	    <!-- Report style -->
	    <fieldset id="report_style_choice">
	      <legend>
		4. Choose report style
		<a class="help" href="#help_report_style">?</a>
	      </legend>
	      <label>
		PDF
		<input type="radio" name="report_type" value="pdf" checked="checked"></input>
	      </label>
	      <label>
		Display on web
		<input type="radio" name="report_type" value="html"></input>
	      </label>
	    </fieldset>
	    <input type="submit" value="Generate report"/>
	    <a class="help" href="#help_generate_report">?</a>
	  </div>
	</div>
      </form>
            <div id="sidebar">
	<p>
	  Paragraph briefly describing the tool/web site -assuming we want to
	  keep the "levels of concern" language in the headers, perhaps this
	  paragraph can draw the connection between "levels of concern" and
	  "standards" so that there is not a disconnect between the headers and
	  the report generator -- "standards" makes it easier to fit into a
	  tight space, which in turn makes generating reports less work on the
	  user (e.g., less scrolling)
	</p>
      </div>
    </div>
    <div id="help_div" class="help left-column">
      <div class="selected">
	<h4>Click on the blue question marks for instructions and tips about each data entry item</h4>
      </div>
      <div id="help_chemical_entry">
	<p>
	  Enter chemicals of interest and their measured levels.  If you are
	  working from bucket results, enter the chemicals for which there was a
	  measurable concentration (instead of ND or nondetect).  You should be
	  able to use common synonyms for the chemicals, but abbreviations might
	  need to be spelled out.  Be sure that all of the values you enter are
	  in the units that you select for "Units your measured values are in
	  (input)"
	</p>
      </div>
      <div id="help_add_chemicals">
	<p>
	  Click on the green plus sign to enter additional chemicals
	  into your report.
	</p>
      </div>
      <div id="help_inunits">
	<p>(This help item not yet implemented)</p>
      </div>
      <div id="help_outunits">
	<p>(This help item not yet implemented)</p>
      </div>
      <div id="help_report_title">
	<p>
	  What you enter for Organization name 1 and Organization name 2 will be
	  used for the sub-titles of your report.  Your entries will appear at
	  the top of the first page of your report.  If you would prefer to
	  title your report with information other than an organization name,
	  you can enter whatever you would like for report sub-titles into one
	  or both of these two boxes.  Text entered under Organization name 1
	  appears on the second line of the first page of your report as "For
	  Organization name 1", and text entered under Organization name 2
	  appears on the third line as "Organization name 2".  If they are left
	  blank, they do not appear in the report.  The first line (title) of
	  all reports is "Levels of Concern Report" regardless of what is
	  entered in Organization name 1 and 2.
	</p>
      </div>
      <div id="help_sample_name">
	<p>
	  You can enter a name for the sample here.  If you are working with
	  bucket results, the air collected in one bucket on one date is the
	  sample.  You might have a name you want to use for this bucket sample
	  or you might not.  It is optional to enter a sample identifying name.
	  If entered, the sample identifying name will appear on the first page
	  of the report.  Examples of possible sample identifying names include
	  "Sample from Ms. Jones' house" and "RAN project sample 1" – these
	  would return on the report as "Sample identifying name: Sample from
	  Ms.  Jones' house" and "Sample identifying name: RAN project sample 1"
	</p>
      </div>
      <div id="help_sample_date">
	<p>
	  You can enter the date the sample was taken here.  It is optional to enter a date.  If entered, 
	  this date will appear on the first page of the report.  If you are working with bucket results, 
	  the date the sample was taken would be the date the bucket was used to collect the air at the 
	  sample location.  You can also enter a time here, and you can enter the date and/or time in 
	  any format you want.  Examples of possible entries here include "6/22/2013", "June 22, 2013 
	  5pm", "6:42 pm on 6-22-2013", and "summertime" – these would return on the report as "Date 
	  sample was taken: 6/22/2013", "Date sample was taken: June 22, 2013 5pm", etc.
	</p>
      </div>
      <div id="help_sample_location">
	<p>
	  Here you can enter the location where the sample was taken.  If you
	  are working with bucket results, this would be the address or some
	  other name for the location where the bucket was put to collect the
	  air sample.  It is optional to enter a location for the sample.  If
	  entered, the location will appear on the first page of the report.
	  For example, if you enter "1200 Main Street" it will appear on the
	  report as "Location sample was taken at: 1200 Main Street" and if you
	  enter "My house" it will appear as "Location sample was taken at: my
	  house"
	</p>
      </div>
      <div id="help_standards">
	<p>(This help item not yet implemented)</p>
      </div>
      <div id="help_report_style">
	<p>(This help item not yet implemented)</p>
      </div>
    </div>
  </body>
</html>


