<?xml version="1.0" standalone="no"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="header.html" />
  ${head()}
  <body>
    <script src="scripts/jquery.js"></script>
    <script src="scripts/loc.js"></script>
    ${header()}
    <div id="slideshow">
      <div id="landing">
	<img src="/media/us_map_102.png"></img>
	<div id="landing-text" class="title-color">
	  <h3>Is the air you're breathing safe?</h3>
          <p>
            Search our free database*<br/> of air quality standards and
	    screening levels from across the country
	  </p>
          *Truly free!  Open-source, GPL, Creative Commons, and an API
	</div>
      </div>
      <div id="lorem-ipsum">
	<p>
	  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
	  eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
	  minim veniam, quis nostrud exercitation ullamco laboris nisi ut
	  aliquip ex ea commodo consequat. Duis aute irure dolor in
	  reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
	  pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
	  culpa qui officia deserunt mollit anim id est laborum.
	</p>
      </div>
      <div id="example-slide-2">
	<img src="/media/Air_pollution_smoke_rising_from_plant_tower.jpg"></img>
	<ul>
	  <li>Thing one</li>
	  <li>Thing two</li>
	</ul>
	<span class="placeholder"></span>
      </div>
    </div>
    <div id="landing-email" class="title-color middle-tier">
      <div>
	<p class="psuedo-header">Sign Up For Air News</p>
	<span class="medium-blue-button">
	  <span>
	    <span>YOUR EMAIL ADDRESS</span>
            <a href="/">></a>
	  </span>
	</span>
      </div>
    </div>
    <div id="landing-donate" class="title-color middle-tier">
      <div>
	<img src="/media/Air_pollution_smoke_rising_from_plant_tower.jpg"></img>
	<p class="psuedo-header">HEALTHY AIR<br/>NEEDS YOUR HELP</p>
	<p>
	  Your tax-deductible donation<br/>
	  will support science-based<br/>
	  solutions to air pollution.
	</p>
	<span class="donate-blue-button"><a href="/">DONATE NOW</a></span>
      </div>
    </div>
    ${footer()}
  </body>
</html>


