body, html {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

body {
    min-width: 90em;
    font-size: 90%;
}

h1 {
    padding:     2pt;
    margin:      0pt;
    font-size:   3em;
    font-weight: normal;
}

h2 {
    margin:      2pt;
    font-size:   1.5em;
    font-weight: normal;
}

ul {
    list-style:  none;
}

a {
    color:           green;
    text-decoration: none;
    font-family:     sans-serif;
}

.help {
    color:       #7777ff;
}

.help h4 {
    color:       black;
}

a.help {
    font-weight: bold;
    border:      1px solid blue;
    padding:     1px 5px;
    margin:      2px;
}

div#header {
    width:  100%;
    float:  left;
    border-bottom: 5px solid green;
    border-top: 10px solid green;
}

.left-column {
    margin-right:  5px;
    border-right:  3px solid green;
}

div#header #titles { float: left;  }
div#header #logos  { float: left; }

div#logos ul {
    float:    left;
    padding:  0pt;
    margin:   4pt;
}

div#logos ul li {
    float:    left;
    margin:   2pt;
}

div#logos img {
    height:  70px;
}

div#nav {
    border-bottom:  5px solid green;
    float:          left;
    width:          100%;
    padding-top:    0.4em;
    padding-bottom: 0.4em;
}

.centering {
    float:  left;
    width:  100%;
    position: relative;
}

.centering > * {
    position: relative;
    clear: left;
    float: right;
    right: 50%;
}

.centering > * > * {
    position: relative;
    float: left;
    left: 50%;
}

div#nav ul {
    margin:     0;
    padding:    0;
    list-style: none;
    text-align: center;
}

div#nav ul li {
    display:      inline;
    margin-left:  0.5em;
    margin-right: 0.5em;
    padding:      0.5em;
}

div#nav ul li:hover {
    background-color: #cccccc;
}

div#main {
    width: 100%;
    clear: both;
}

#main > p {
    min-width: 30%;
}

#main > form {
    float: left;
    width: 65em;
    margin-bottom: 0px;
}

#main > form > div {
    width: 100%;
    float: left;
}

#main > form > div > div {
    width:   45%;
    float:   left;
}

#main > form > div fieldset {
    border:  none;
}

fieldset label {
    margin-bottom: 3px;
}

fieldset label p {
    margin-top:    0px;
    margin-bottom: 0px;
    margin-left:   2em;
}

#chemical_input label {
    width:   49%;
    display: block;
    float:   left;
}

#chemical_input input {
    display: block;
}

#chemical_input span.warning {
    color:     red;
    font-size: 90%;
}

#user_input label {
    display: block;
}

#user_input input {
}

#sample_info label {
    display: block;
}

#sample_info input {
    display: block;
}

#units_choice label {
    display: block;
}

#units_choice p {
    width: 45%;
    float: left;
}

#units_choice select {
    max-width: 5em;
}

#standards_choice label {
    display: block;
}

#standards_choice label > input {
    float:   left;
}

#report_style_choice label {
    display: block;
    float:   left;
    margin-right: 2em;
}

#report_style_choice label > input {
    float:   left;
}

#sidebar {
    float:   left;
    width:   14em;
}

#add_chemicals {
    clear:       both;
    margin-left: 3em;
}

#add_chemicals_plus {
    border:      1px solid green;
    padding:     1px 3px;
}

#help_div {
    clear:   both;
    width:   65em;
}

#help_div h4 {
    text-align: center;
}

#help_div > div {
    margin:  auto;
    width:   80%;
    display: none;
}

#help_div > div.selected {
    display: block;
}

span.select_label {
    font-size:   90%;
}
