body, html {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

body {
    font-size: 90%;
    min-width: 86em;
}

#titles h1 {
    padding:     0pt;
    margin:      0pt;
    font-weight: normal;
}

#titles h1 img {
    vertical-align: bottom;
    width:          300px;
}

#titles {
    text-align:  center;
    margin-left: 3em;
}

#titles > h2 {
    margin:      6pt;
    font-size:   1.3em;
    font-weight: normal;
    color:       green;
}

ul {
    list-style:  none;
}

a {
    color:           green;
    text-decoration: none;
    font-family:     sans-serif;
}

.help {
    color:       #6993dd;
}

a.help {
    padding:     0px;
    margin-left: 4px;
    margin-bottom: 0px;
}

a.help > img {
    height:         1.1em;
    vertical-align: bottom;
    margin:         0;
    padding:        0 0 1px;
}

input ~ a.help > img {
    vertical-align: middle;
}

div#header {
    width:  100%;
    float:  left;
    border-bottom: 5px solid green;
}

.left-column {
    width:  60em;
}

div#header #titles { float: left;  }
div#header #logos  { float: left; }

div#logos ul {
    float:    left;
    padding:  0pt;
    margin:   4pt;
}

div#logos ul li {
    float:    left;
    margin:   2pt;
}

div#logos img {
    height:      70px;
    margin-left: 10px;
}

div#top-nav {
    margin-top: 2em;
}

div#middle-nav {
    display:    none;
    background: white;
    position:   fixed;
    left:       0;
    top:        0;
    width:      100%;
}

div#middle-nav > .nav {
    border-bottom:  5px solid green;
    float:          left;
    width:          100%;
    padding-top:    0.4em;
    padding-bottom: 0.4em;
}

.centering {
    float:  left;
    width:  100%;
    position: relative;
}

.centering > * {
    position: relative;
    clear: left;
    float: right;
    right: 50%;
}

.centering > * > * {
    position: relative;
    float: left;
    left: 50%;
}

#contact-wrapper {
    height:     2.2em;
}

#contact {
    right:      0px;
    top:        0px;
    background: green;
    width:      100%;
    min-height: 3.75em;
}

#contact ul {
    position:      absolute;
    right:         0px;
    list-style:    none;
    padding-right: 3em;
}

#contact ul > li {
    display:    inline;
}

#contact ul > li ~ li {
    margin-right: 20px;
}

#contact a, #contact li {
    color:         white;
}

div.nav ul {
    float:      right;
    margin:     2em 3em 0 0;
    padding:    0;
    list-style: none;
    text-align: center;
}

div.nav ul li {
    font-size:    120%;
    display:      inline;
    margin-left:  0.5em;
    margin-right: 0.5em;
    padding:      0.5em;
}

div.nav ul li:hover {
    background-color: #cccccc;
}

div.static {
    margin-left:  8em;
    margin-right: 8em;
    float:        left;
}

#main > p {
    min-width: 30%;
}

#main > form {
    float: left;
    margin-bottom: 0px;
    margin-left:   2em;
}

#main > form > div {
    width: 100%;
    float: left;
}

#main > form > div > div {
    width:   50%;
    float:   left;
}

#main > form > div fieldset {
    border:  none;
}

fieldset label {
    margin-bottom: 3px;
}

fieldset label p {
    margin-top:    0px;
    margin-bottom: 0px;
    margin-left:   2em;
}

#chemical_input label, #chemical_input input {
    width:        42%;
    margin-right: 1em;
    display:      block;
    float:        left;
}

#chemical_input span.warning {
    color:     red;
    font-size: 90%;
    float:     left;
    clear:     both;
}

#user_input div {
    margin-bottom: 1em;
}

#user_input a.help > img {
    margin-bottom: 3px;
}

#user_input input {
    width:          40%;
    margin-right:   3pt;
}

#sample_info label {
    display: block;
}

#sample_info input {
    width:   65%;
}

#units_choice label {
    display: block;
}

#units_choice p {
    width: 50%;
    float: left;
}

#units_choice select {
    max-width: 5em;
}

#standards_choice label {
    display: block;
}

#standards_choice label > input {
    float:   left;
}

#report_style_choice label {
    display: block;
    float:   left;
    margin-right: 2em;
}

#report_style_choice label > input {
    float:   left;
}

#sidebar {
    float:   left;
    width:   22em;
    border-left: 3px solid green;
    padding-left: 1.5em;
}

#add_chemicals {
    clear:       both;
    margin-left: 3em;
}

#add_chemicals_plus {
    border:      1px solid green;
    padding:     1px 3px;
}

#help_div {
    clear:   both;
    color:   #090b82;
}

#help_div h4 {
    color:       black;
    text-align:  center;
}

#help_div > div {
    margin:  auto;
    width:   80%;
    display: none;
}

#help_div > div.selected {
    display: block;
}

span.select_label {
    font-size:   75%;
}

#footer {
    border-top:  5px solid green;
    clear:       both;
}

#landing {
    float:            left;
    background-image: url("/media/Gradient.png");
    background-size:  cover;
    border-bottom:    5px solid green;
    margin-bottom:    2em;
}

#landing > img {
    float:       left;
    margin-top:  1em;
    margin-left: 4em;
    width:       48%;
}

.title-color {
    color:       #004000;
}

#landing-text {
    float:        left;
    margin:       2em 3em;
    max-width:    40%;
}

#landing-text > h3 {
    font-weight:  normal;
    font-size:    175%;
}

#landing-text > p {
    font-size:     150%;
    line-height:   145%;
    margin-bottom: 3em;
}

.middle-tier {
    width:         50%;
    float:         left;
}

.middle-tier > div {
    padding-left:  2em;
    padding-right: 2em;
}

#landing-email > div > p {
    display: inline;
    float:   left;
}

#landing-email > div > span {
    float:       left;
    margin-left: 1em;
}

#landing-email > div > span > span {
    background:     white;
    padding-top:    5px;
    padding-bottom: 5px;
    padding-left:   5px;
    border:         2px solid grey;
    border-radius:  5px;
}

#landing-email span a {
    color:        black;
    background:   green;
    margin-left:  15px;
    padding:      5px;
}

#landing-donate  > div {
    border-left:    2px solid green;
    padding-bottom: 1em;
    margin-bottom:  1em;
}

#landing-donate img {
    width:   200px;
    float:   left;
    margin-right: 1em;
}

.big-blue-button {
    border-radius:  5px;
    background:     #0099ff;
    padding:        10pt 18pt;
}

.big-blue-button a {
    color:          white;
/*    font-weight:    bold; */
}

.medium-blue-button {
    border-radius:  5px;
    background:     #0099ff;
    padding:        10px;
}

.medium-blue-button a {
    color:          white;
}

.psuedo-header {
    font-size:       150%;
    margin:          0;
}

#footer > p {
    margin-left: 2em;
    width:       20em;
    float:       left;
}
